Repository tb1337/paperless-api: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

Add tests for share_links (FINALLY!)
  tests/data/v2_0_0/__init__.py
  tests/test_paperless_2_0_0.py
  tests/util/router.py
Due: tests

Add tests for workflows
  tests/data/v2_3_0/__init__.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/router.py
Due: tests

Add common tests
  pypaperless/__init__.py
  tests/__init__.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: library, tests

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix TypeError on posting forms (#48)
  pypaperless/__init__.py
  pypaperless/controllers/documents.py
  tests/test_paperless_common.py
Due: library, tests

Add storage path to create document
  pypaperless/models/documents.py
Due: library

Fix tests to reflect changes to form converting
  tests/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: tests

Add functional tests
  pypaperless/models/share_links.py
  pypaperless/util.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/test_paperless_common.py
Due: library, tests

Run linters and improve code quality
  .pre-commit-config.yaml
  pypaperless/controllers/documents.py
  pypaperless/controllers/tasks.py
  pypaperless/models/documents.py
  pypaperless/util.py
Due: library

Add custom fields service
  pypaperless/controllers/base.py
  pypaperless/controllers/documents.py
Due: library

Add tests for the new service
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/router.py
Due: tests

Create proper documentation
  docs/CRUD.md
Due: docs

Fix router returns instead of raise
  tests/test_paperless_2_0_0.py
  tests/util/router.py
Due: tests

Feature Request: maintain custom fields at a document (#58)
  docs/CRUD.md
  pypaperless/controllers/base.py
  pypaperless/controllers/documents.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/router.py
Due: library, docs, tests

Implement classes
  pypaperless/__init__.py
  pypaperless/endpoints.py
  pypaperless/model/__init__.py
  pypaperless/model/base.py
  pypaperless/model/documents.py
  pypaperless/model/documents.pyi
  pypaperless/model/helpers.py
  pypaperless/paperless.py
Due: library

Refine new architecture
  pypaperless/const.py
  pypaperless/controllers/__init__.py
  pypaperless/controllers/base.py
  pypaperless/controllers/default.py
  pypaperless/controllers/documents.py
  pypaperless/controllers/tasks.py
  pypaperless/endpoints.py
  pypaperless/model/__init__.py
  pypaperless/model/base.py
  pypaperless/model/documents.py
  pypaperless/model/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/documents.pyi
  pypaperless/models/factories.py
  pypaperless/models/groups.py
  pypaperless/models/iterators.py
  pypaperless/models/mails.py
  pypaperless/models/matching.py
  pypaperless/models/mixins/__init__.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/tasks.py
  pypaperless/models/users.py
  pypaperless/models/workflows.py
  pypaperless/paperless.py
Due: library

Save current state
  .pre-commit-config.yaml
  pypaperless/const.py
  pypaperless/endpoints.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/documents.pyi
  pypaperless/models/factories.py
  pypaperless/models/factories/__init__.py
  pypaperless/models/factories/base.py
  pypaperless/models/factories/default.py
  pypaperless/models/mixins/__init__.py
  pypaperless/paperless.py
  pypaperless/util.py
  pypaperless/utils/__init__.py
  pypaperless/utils/generators.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/factories/base.py
  pypaperless/models/factories/default.py
  pypaperless/models/test.pyi
  pypaperless/util.py
Due: library

Save current work
  pypaperless/models/documents.py
  pypaperless/models/factories/base.py
  pypaperless/models/factories/default.py
  pypaperless/models/generators/__init__.py
  pypaperless/models/generators/resource.py
Due: library

Save current work
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/factories/__init__.py
  pypaperless/models/factories/base.py
  pypaperless/models/generators/resource.py
  pypaperless/models/helpers/__init__.py
  pypaperless/models/helpers/base.py
  pypaperless/models/helpers/default.py
  pypaperless/models/helpers/mixins/__init__.py
  pypaperless/models/helpers/mixins/callable.py
  pypaperless/models/helpers/mixins/iterable.py
  pypaperless/models/page.py
  pypaperless/paperless.py
Due: library

Save current work
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/__init__.py
  pypaperless/models/mixins/updatable.py
  pypaperless/util.py
Due: library

Save current work
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/helpers/base.py
  pypaperless/models/helpers/mixins/iterable.py
  pypaperless/models/mixins/updatable.py
Due: library

Save current work
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/updatable.py
Due: library

Rename class
  pypaperless/models/__init__.py
  pypaperless/models/generators/resource.py
  pypaperless/models/page.py
  pypaperless/models/result_page.py
Due: library

Fix recursion
  pypaperless/util.py
Due: library

Add patch and put updating
  pypaperless/models/mixins/updatable.py
Due: library

Implement create and delete
  pypaperless/const.py
  pypaperless/errors.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/helpers/base.py
  pypaperless/models/helpers/default.py
  pypaperless/models/helpers/mixins/__init__.py
  pypaperless/models/helpers/mixins/callable.py
  pypaperless/models/helpers/mixins/draftable.py
  pypaperless/models/mixins/__init__.py
  pypaperless/models/mixins/creatable.py
  pypaperless/models/mixins/deletable.py
  pypaperless/models/mixins/updatable.py
  pypaperless/paperless.py
Due: library

Enable typing/linting and remove hints
  .pre-commit-config.yaml
  pypaperless/models/base.py
  pypaperless/models/helpers/base.py
  pypaperless/models/helpers/default.py
  pypaperless/paperless.py
Due: library

Save current work
  .devcontainer/devcontainer.json
  pypaperless/models/generators/__init__.py
  pypaperless/models/generators/page.py
  pypaperless/models/generators/resource.py
  pypaperless/models/helpers/mixins/iterable.py
  pypaperless/models/result_page.py
Due: library

Save current work
  pypaperless/__init__.py
  pypaperless/const.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/helpers/__init__.py
  pypaperless/models/helpers/default.py
  pypaperless/models/helpers/mixins/draftable.py
  pypaperless/models/helpers/mixins/iterable.py
  pypaperless/models/mixins/creatable.py
  pypaperless/models/mixins/updatable.py
  pypaperless/models/test.pyi
  pypaperless/paperless.py
  pypaperless/util.py
Due: library

Move docmeta helper into doc helper
  pypaperless/models/documents.py
  pypaperless/models/helpers/default.py
  pypaperless/paperless.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/errors.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/generators/page.py
  pypaperless/models/helpers/__init__.py
  pypaperless/models/helpers/base.py
  pypaperless/models/helpers/default.py
  pypaperless/models/mixins/__init__.py
  pypaperless/models/mixins/helpers/__init__.py
  pypaperless/models/mixins/helpers/callable.py
  pypaperless/models/mixins/helpers/draftable.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/paperless.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/generators/page.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/pages.py
  pypaperless/paperless.py
  pyproject.toml
Due: library, configs

Save current work
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/mails.py
  pypaperless/models/permissions.py
  pypaperless/paperless.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/mixins/models/data_fields.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/paperless.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/models/classifiers.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/mixins/models/data_fields.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/paperless.py
Due: library

Save current work
  pypaperless/const.py
  pypaperless/errors.py
  pypaperless/exceptions.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/classifiers.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/helpers/draftable.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/data_fields.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/share_links.py
  pypaperless/paperless.py
  pypaperless/sessions.py
Due: library

Path conditions:
  library: any of: pypaperless/
  configs: any of: .git*, *.toml, *.yml
  docs: any of: docs/, *.md
  tests: any of: tests/
