Repository tb1337/paperless-api: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 2

coverage:
  range: "95..100"

  status:
    project: no

comment:
  layout: "diff, files"
  require_changes: true

flags:
  library:
    paths:
      - pypaperless/
  configs:
    paths:
      - ".git*"
      - "*.toml"
      - "*.yml"
  docs:
    paths:
      - docs/
      - "*.md"
  tests:
    paths:
      - tests/

Save current work
  pypaperless/sessions.py
Due: library

Save current work
  pypaperless/__init__.py
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/exceptions.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/generators/page.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/helpers/callable.py
  pypaperless/models/mixins/helpers/draftable.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/pages.py
  pypaperless/models/permissions.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/workflows.py
  pypaperless/util.py
Due: library

Save current work
  pypaperless/const.py
Due: library

Save current work
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/models/base.py
  pypaperless/models/common.py
  pypaperless/models/documents.py
Due: library

Add generate_api_token helper
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/exceptions.py
Due: library

Move utils.py into models/utils
  pypaperless/models/base.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/utils/__init__.py
Due: library

Save current work
  pypaperless/api.py
  pypaperless/models/base.py
  pypaperless/models/utils/__init__.py
  pypaperless/sessions.py
  script/test_paperless_1_17_0.py
  script/test_paperless_1_8_0.py
  script/test_paperless_2_0_0.py
  script/test_paperless_2_3_0.py
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: library, tests

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Save current work
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/tasks.py
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: library, tests

Check environment
  example/usage.py
Due: none

Update pre-commit config
  .pre-commit-config.yaml
Due: none

Downgrade black
  .pre-commit-config.yaml
Due: none

Upgrade black
  .pre-commit-config.yaml
  example/usage.py
Due: none

Fix modification
  tests/data/v1_17_0/__init__.py
Due: tests

Change pytest <8.0.0
  pyproject.toml
Due: configs

Save current work
  docs/CRUD.md
  docs/REQUEST.md
  docs/SESSION.md
  example/usage.py
  pypaperless/const.py
  pypaperless/exceptions.py
  pypaperless/models/generators/page.py
  pypaperless/models/tasks.py
  pyproject.toml
  tests/__init__.py
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: library, configs, docs, tests

Save current work
  script/test_paperless_1_17_0.py
  script/test_paperless_1_8_0.py
  tests/conftest.py
  tests/data/v1_8_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/util/router.py
Due: tests

Save current work
  pypaperless/models/share_links.py
  pypaperless/models/workflows.py
  script/test_paperless_2_0_0.py
  script/test_paperless_2_3_0.py
  tests/__init__.py
  tests/conftest.py
  tests/data/v2_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
Due: library, tests

Resolve conflicts
  pyproject.toml
Due: configs

Apply black reformattings
  pypaperless/models/base.py
  pypaperless/models/mixins/models/creatable.py
  tests/conftest.py
  tests/const.py
Due: library, tests

Save current work
  pypaperless/api.py
  pypaperless/sessions.py
  tests/__init__.py
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: library, tests

Save current work
  tests/__init__.py
  tests/test_paperless_common.py
Due: tests

Save current work
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_common.py
Due: tests

Save current work
  tests/test_paperless_common.py
Due: tests

Save current work
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/config.py
  tests/__init__.py
  tests/data/v2_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/router.py
Due: library, tests

Save current work
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/helpers/callable.py
  pypaperless/models/mixins/helpers/draftable.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/permissions.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
Due: library

Save current work
  pypaperless/models/base.py
  pypaperless/models/common.py
  pypaperless/models/documents.py
Due: library

Add document next asn and suggestions
  pypaperless/const.py
  pypaperless/exceptions.py
  pypaperless/models/documents.py
Due: library

Add tests for new requests
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/util/router.py
Due: tests

Fix a bug in searching
  pypaperless/models/documents.py
  tests/data/v0_0_0/__init__.py
  tests/util/router.py
Due: library, tests

Save current work
  pypaperless/exceptions.py
  pypaperless/models/documents.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/sessions.py
Due: library

Save current work
  pypaperless/api.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/documents.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/helpers/__init__.py
  pypaperless/models/mixins/helpers/callable.py
  pypaperless/models/mixins/helpers/draftable.py
  pypaperless/models/mixins/helpers/securable.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/data_fields.py
  pypaperless/models/mixins/models/securable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/saved_views.py
  pypaperless/sessions.py
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/router.py
Due: library, tests

Update project files
  .pre-commit-config.yaml
  pyproject.toml
Due: configs

Save current work
  .github/workflows/pr-labels.yml
  README.md
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/sessions.py
Due: library, docs

Update documentation
  README.md
Due: docs

Redesigned ci slightly
  .github/labels.yml
  .github/workflows/labels.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-package.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/tests.yml
  .github/workflows/typing-linting.yml
  .pre-commit-config.yaml
  Dockerfile
  README.md
  pypaperless/api.py
  pypaperless/exceptions.py
  pypaperless/models/base.py
  pyproject.toml
  tests/test_paperless_1_17_0.py
  tests/test_paperless_common.py
  tests/util/router.py
Due: library, configs, docs, tests

Update tests.yml
  .github/workflows/tests.yml
Due: none
