Repository tb1337/paperless-api: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

Update poetry.lock
  poetry.lock
Due: none

Remove `PaperlessSession` from module
  pypaperless/__init__.py
  pypaperless/sessions.py
  tests/test_common.py
Due: library, tests

Update documentation
  docs/usage.md
Due: docs

Move logic from session (#117)
  .vscode/launch.json
  .vscode/settings.json
  README.md
  docs/usage.md
  poetry.lock
  pypaperless/__init__.py
  pypaperless/api.py
  pypaperless/exceptions.py
  pypaperless/models/documents.py
  pypaperless/sessions.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/data/__init__.py
  tests/data/v0_0_0.py
  tests/data/v1_17_0.py
  tests/data/v1_8_0.py
  tests/data/v2_0_0.py
  tests/data/v2_3_0.py
  tests/test_common.py
  tests/test_models.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/__init__.py
  tests/util/router.py
Due: library, configs, docs, tests

Fix date to str converison
  pypaperless/models/utils/__init__.py
Due: library

Fix date to str converison (#118)
  pypaperless/models/utils/__init__.py
Due: library

Bake skip-changelog label into ci
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/pre-commit-updater.yml
Due: none

Enhance label descriptions
  .github/labels.yml
Due: none

Bake skip-changelog label into ci (#119)
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/pre-commit-updater.yml
Due: none

Add status model and helper
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/common.py
  pypaperless/models/status.py
Due: library

Add tests
  tests/__init__.py
  tests/conftest.py
  tests/data/__init__.py
  tests/data/v2_6_0.py
  tests/test_common.py
  tests/test_models.py
Due: tests

Add has_error property and tests
  pypaperless/models/common.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/status.py
  tests/test_models.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: library, tests

Support for Paperless System Status (#120)
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/common.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/status.py
  tests/__init__.py
  tests/conftest.py
  tests/data/__init__.py
  tests/data/v2_6_0.py
  tests/test_common.py
  tests/test_models.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: library, tests

Remove unused configuration
  .codecov.yml
Due: configs

Enable pytest 8
  poetry.lock
  pyproject.toml
Due: configs

Fix header in tests
  tests/test_models_specific.py
Due: tests

Remove unused configuration (#121)
  .codecov.yml
  poetry.lock
  pyproject.toml
  tests/test_models_specific.py
Due: configs, tests

Add system status documentation
  docs/usage.md
Due: docs

Add system status documentation (#122)
  docs/usage.md
Due: docs

Update project files
  .devcontainer/devcontainer.json
  .gitattributes
  .gitignore
  .nvmrc
  .prettierignore
  package.json
  poetry.lock
  pyproject.toml
Due: configs

Apply new ruff rules
  src/pypaperless/api.py
  src/pypaperless/const.py
  src/pypaperless/exceptions.py
  src/pypaperless/helpers.py
  src/pypaperless/models/base.py
  src/pypaperless/models/classifiers.py
  src/pypaperless/models/common.py
  src/pypaperless/models/config.py
  src/pypaperless/models/custom_fields.py
  src/pypaperless/models/documents.py
  src/pypaperless/models/generators/page.py
  src/pypaperless/models/mails.py
  src/pypaperless/models/mixins/helpers/callable.py
  src/pypaperless/models/mixins/helpers/draftable.py
  src/pypaperless/models/mixins/models/creatable.py
  src/pypaperless/models/mixins/models/deletable.py
  src/pypaperless/models/mixins/models/updatable.py
  src/pypaperless/models/permissions.py
  src/pypaperless/models/saved_views.py
  src/pypaperless/models/share_links.py
  src/pypaperless/models/status.py
  src/pypaperless/models/tasks.py
  src/pypaperless/models/utils/__init__.py
  src/pypaperless/models/workflows.py
  tests/ruff.toml
Due: tests

Apply ruff format
  ++debug.py
  .gitignore
  .vscode/launch.json
  pyproject.toml
  tests/conftest.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: configs, tests

Apply prettier reformat
  .devcontainer/devcontainer.json
  .github/workflows/release-drafter.yml
  .pre-commit-config.yaml
  docs/usage.md
  src/pypaperless/models/tasks.py
Due: docs

Apply yamllint
  .github/dependabot.yml
  .github/workflows/labels.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/typing-linting.yml
  .gitignore
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: configs, tests

Revoke exception changes
  .devcontainer/devcontainer.json
  src/pypaperless/api.py
  src/pypaperless/models/base.py
  src/pypaperless/models/documents.py
Due: none

Apply more ruff rules
  .pre-commit-config.yaml
  pyproject.toml
  src/pypaperless/api.py
  src/pypaperless/helpers.py
  src/pypaperless/models/generators/page.py
  src/pypaperless/models/utils/__init__.py
  tests/test_models_matrix.py
Due: configs, tests

Update ci
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/labels.yml
  .github/workflows/linting.yaml
  .github/workflows/pr-labels.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/typing-linting.yml
  .github/workflows/typing.yml
  poetry.toml
Due: configs

Add renovate
  .github/renovate.json
  .prettierignore
Due: none

Improve coverage
  tests/test_common.py
  tests/test_models_specific.py
Due: tests

Remove shebangs check
  .github/workflows/linting.yaml
Due: none

Update license
  LICENSE.md
Due: docs

Reformat json
  .devcontainer/devcontainer.json
Due: none

Fix security issue 3
  src/pypaperless/api.py
Due: none

Refactor error handling
  src/pypaperless/api.py
  src/pypaperless/exceptions.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: tests

Refactor json error handling
  src/pypaperless/api.py
Due: none

Improve code quality (#129)
  .devcontainer/devcontainer.json
  src/pypaperless/api.py
  src/pypaperless/exceptions.py
  tests/test_common.py
  tests/test_models_matrix.py
  tests/test_models_specific.py
Due: tests

Fix README badges
  .github/workflows/linting.yml
  README.md
Due: docs

Fix README badges (#131)
  .github/workflows/linting.yml
  README.md
Due: docs

Path conditions:
  library: any of: pypaperless/
  configs: any of: .git*, *.toml, *.yml
  docs: any of: docs/, *.md
  tests: any of: tests/
