Repository tb1337/paperless-api: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

.codecov.yml:

codecov:
  branch: master
  notify:
    after_n_builds: 2

coverage:
  range: "95..100"

  status:
    project: no

comment:
  layout: "diff, files"
  require_changes: true

flags:
  library:
    paths:
      - pypaperless/
  configs:
    paths:
      - ".git*"
      - "*.toml"
      - "*.yml"
  docs:
    paths:
      - docs/
      - "*.md"
  tests:
    paths:
      - tests/

Redesigned ci slightly
  pyproject.toml
Due: configs

Add dependencies
  .github/workflows/tests.yml
Due: none

Disable typing-linting on push to master
  .github/workflows/typing-linting.yml
Due: none

Disallow pushing to master
  .pre-commit-config.yaml
Due: none

Rearrange labels
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
Due: none

Execute pre-commit hooks one by one
  .github/workflows/typing-linting.yml
Due: none

Add issue and pr auto-locking
  .github/workflows/lock.yml
Due: none

Add stale
  .github/workflows/stale.yml
Due: none

Update CI (#88)
  .github/dependabot.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  .github/workflows/typing-linting.yml
  .pre-commit-config.yaml
Due: none

Update badges
  README.md
Due: docs

Update badges (#90)
  README.md
Due: docs

Rename default branch
  .github/workflows/labels.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tests.yml
  .github/workflows/typing-linting.yml
  .pre-commit-config.yaml
Due: none

Rename default branch (#93)
  .github/workflows/labels.yml
  .github/workflows/release-drafter.yml
  .github/workflows/tests.yml
  .github/workflows/typing-linting.yml
  .pre-commit-config.yaml
Due: none

Add missing tests
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
Due: tests

Add missing tests (#94)
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
Due: tests

Update and rearrange docs
  LICENSE.md
  README.md
  docs/usage.md
  pyproject.toml
Due: configs, docs

Update and rearrange docs (#96)
  LICENSE.md
  README.md
  docs/usage.md
  pyproject.toml
Due: configs, docs

Add poetry and refactor pyproject.toml
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .gitignore
  pyproject.toml
  script/bootstrap
  script/setup
Due: configs

Move pypaperless to src dir
  .devcontainer/Dockerfile.dev
  .pre-commit-config.yaml
  poetry.lock
  src/pypaperless/__init__.py
  src/pypaperless/api.py
  src/pypaperless/const.py
  src/pypaperless/exceptions.py
  src/pypaperless/helpers.py
  src/pypaperless/models/__init__.py
  src/pypaperless/models/base.py
  src/pypaperless/models/classifiers.py
  src/pypaperless/models/common.py
  src/pypaperless/models/config.py
  src/pypaperless/models/custom_fields.py
  src/pypaperless/models/documents.py
  src/pypaperless/models/generators/__init__.py
  src/pypaperless/models/generators/page.py
  src/pypaperless/models/mails.py
  src/pypaperless/models/mixins/__init__.py
  src/pypaperless/models/mixins/helpers/__init__.py
  src/pypaperless/models/mixins/helpers/callable.py
  src/pypaperless/models/mixins/helpers/draftable.py
  src/pypaperless/models/mixins/helpers/iterable.py
  src/pypaperless/models/mixins/helpers/securable.py
  src/pypaperless/models/mixins/models/__init__.py
  src/pypaperless/models/mixins/models/creatable.py
  src/pypaperless/models/mixins/models/data_fields.py
  src/pypaperless/models/mixins/models/deletable.py
  src/pypaperless/models/mixins/models/securable.py
  src/pypaperless/models/mixins/models/updatable.py
  src/pypaperless/models/pages.py
  src/pypaperless/models/permissions.py
  src/pypaperless/models/saved_views.py
  src/pypaperless/models/share_links.py
  src/pypaperless/models/tasks.py
  src/pypaperless/models/utils/__init__.py
  src/pypaperless/models/workflows.py
  src/pypaperless/sessions.py
Due: none

Change poetry dep install call
  .pre-commit-config.yaml
  pyproject.toml
  script/bootstrap
Due: configs

Adjust lint rules and reapply
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/pypaperless/api.py
  src/pypaperless/models/base.py
  src/pypaperless/models/classifiers.py
  src/pypaperless/models/config.py
  src/pypaperless/models/custom_fields.py
  src/pypaperless/models/documents.py
  src/pypaperless/models/mails.py
  src/pypaperless/models/mixins/helpers/callable.py
  src/pypaperless/models/mixins/helpers/draftable.py
  src/pypaperless/models/mixins/helpers/securable.py
  src/pypaperless/models/mixins/models/creatable.py
  src/pypaperless/models/mixins/models/deletable.py
  src/pypaperless/models/mixins/models/updatable.py
  src/pypaperless/models/pages.py
  src/pypaperless/models/permissions.py
  src/pypaperless/models/saved_views.py
  src/pypaperless/models/share_links.py
  src/pypaperless/models/tasks.py
  src/pypaperless/models/utils/__init__.py
  src/pypaperless/models/workflows.py
  src/pypaperless/sessions.py
  tests/data/v2_3_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/router.py
Due: configs, tests

Update deps
  poetry.lock
  pyproject.toml
Due: configs

Move source code
  .vscode/settings.json
  poetry.toml
  pypaperless/__init__.py
  pypaperless/api.py
  pypaperless/const.py
  pypaperless/exceptions.py
  pypaperless/helpers.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/classifiers.py
  pypaperless/models/common.py
  pypaperless/models/config.py
  pypaperless/models/custom_fields.py
  pypaperless/models/documents.py
  pypaperless/models/generators/__init__.py
  pypaperless/models/generators/page.py
  pypaperless/models/mails.py
  pypaperless/models/mixins/__init__.py
  pypaperless/models/mixins/helpers/__init__.py
  pypaperless/models/mixins/helpers/callable.py
  pypaperless/models/mixins/helpers/draftable.py
  pypaperless/models/mixins/helpers/iterable.py
  pypaperless/models/mixins/helpers/securable.py
  pypaperless/models/mixins/models/__init__.py
  pypaperless/models/mixins/models/creatable.py
  pypaperless/models/mixins/models/data_fields.py
  pypaperless/models/mixins/models/deletable.py
  pypaperless/models/mixins/models/securable.py
  pypaperless/models/mixins/models/updatable.py
  pypaperless/models/pages.py
  pypaperless/models/permissions.py
  pypaperless/models/saved_views.py
  pypaperless/models/share_links.py
  pypaperless/models/tasks.py
  pypaperless/models/utils/__init__.py
  pypaperless/models/workflows.py
  pypaperless/sessions.py
  pyproject.toml
  tests/test_paperless_common.py
Due: library, configs, tests

Remove unused extensions from devcontainer
  .devcontainer/devcontainer.json
Due: none

Update ci to use poetry
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/typing-linting.yml
  poetry.toml
  pyproject.toml
Due: configs

Fix python poetry version
  pyproject.toml
Due: configs

Update poetry.lock
  poetry.lock
Due: none

Remove deps group
  .github/workflows/typing-linting.yml
Due: none

Fix python poetry version (#100)
  .github/workflows/typing-linting.yml
  poetry.lock
  pyproject.toml
Due: configs

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add permissions/set_permissions mapper
  pypaperless/models/mixins/models/updatable.py
Due: library

Add py.typed
  pypaperless/py.typed
Due: library

Add tests
  pypaperless/models/mixins/models/updatable.py
  tests/test_paperless_0_0_0.py
Due: library, tests

Fix `set_permissions` on model update (#108)
  pypaperless/models/mixins/models/updatable.py
  pypaperless/py.typed
  tests/test_paperless_0_0_0.py
Due: library, tests

Fix docs link for external refs
  README.md
Due: docs

Refactor paperless to not use Session class
  .vscode/launch.json
  poetry.lock
  pypaperless/api.py
  pypaperless/exceptions.py
  pyproject.toml
Due: library, configs

Refactor tests, remove fastapi deps
  .vscode/settings.json
  poetry.lock
  pypaperless/api.py
  pypaperless/models/documents.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/const.py
  tests/data/__init__.py
  tests/data/v0_0_0.py
  tests/data/v1_17_0.py
  tests/data/v1_8_0.py
  tests/data/v2_0_0.py
  tests/data/v2_3_0.py
  tests/test_common.py
  tests/test_models.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_1_8_0.py
  tests/test_paperless_2_0_0.py
  tests/test_paperless_2_3_0.py
  tests/util/__init__.py
  tests/util/router.py
Due: library, configs, tests
