Repository tb1337/paperless-api: changes, and which Codecov flags are due for each by the changed paths.
All: library, configs, docs, tests

Add init files for test folders
  tests/api/__init__.py
  tests/common/__init__.py
Due: tests

Add tests for document notes (#21)
  tests/api/test_documents.py
  tests/fixtures/data.json
Due: tests

Add tests for document file downloads (#21)
  tests/api/test_documents.py
Due: tests

Add assertion for service instances
  tests/api/test_documents.py
Due: tests

Fix type hint
  pypaperless/api/documents.py
Due: library

Add tests for document metadata (#21)
  tests/api/test_documents.py
  tests/fixtures/data.json
Due: tests

Add tests for Paperless object (#21)
  tests/common/test_stuff.py
Due: tests

Add coverage pr comment
  .codecov.yml
Due: configs

Add more typing
  pypaperless/__init__.py
  pypaperless/api/base.py
  pypaperless/api/documents.py
  pypaperless/api/tasks.py
  pypaperless/models/base.py
  pypaperless/models/documents.py
  pypaperless/models/shared.py
  pypaperless/util.py
  pyproject.toml
Due: library, configs

Add keywords
  pyproject.toml
Due: configs

Refactor api endpoints using extension
  pypaperless/controllers/__init__.py
  pypaperless/controllers/base.py
  pypaperless/controllers/default.py
Due: library

Pack api endpoints classes into controllers which inherit mixins (#40)
  pypaperless/__init__.py
  pypaperless/controllers/__init__.py
  pypaperless/controllers/base.py
  pypaperless/controllers/default.py
  pypaperless/controllers/documents.py
  pypaperless/controllers/tasks.py
  tests/controllers/__init__.py
  tests/controllers/test_consumption_templates.py
  tests/controllers/test_correspondents.py
  tests/controllers/test_custom_fields.py
  tests/controllers/test_document_types.py
  tests/controllers/test_documents.py
  tests/controllers/test_groups.py
  tests/controllers/test_mail_accounts.py
  tests/controllers/test_mail_rules.py
  tests/controllers/test_saved_views.py
  tests/controllers/test_storage_paths.py
  tests/controllers/test_tags.py
  tests/controllers/test_tasks.py
  tests/controllers/test_users.py
Due: library, tests

Remote old files (#40)
  pypaperless/api/__init__.py
  pypaperless/api/base.py
  pypaperless/api/default.py
  pypaperless/api/documents.py
  pypaperless/api/tasks.py
  tests/api/__init__.py
  tests/api/test_consumption_templates.py
  tests/api/test_correspondents.py
  tests/api/test_custom_fields.py
  tests/api/test_document_types.py
  tests/api/test_documents.py
  tests/api/test_groups.py
  tests/api/test_mail_accounts.py
  tests/api/test_mail_rules.py
  tests/api/test_saved_views.py
  tests/api/test_storage_paths.py
  tests/api/test_tags.py
  tests/api/test_tasks.py
  tests/api/test_users.py
Due: library, tests

Add more testing (#40)
  pypaperless/__init__.py
  tests/api/__init__.py
  tests/api/test_general.py
  tests/functions/__init__.py
  tests/functions/test_crud_default.py
  tests/functions/test_crud_documents.py
  tests/functions/test_list.py
Due: library, tests

Auto-update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix hardcoded http, utilize yarl.URL for more url freedom (#49)
  pypaperless/__init__.py
  tests/api/test_general.py
  tests/conftest.py
Due: library, tests

Update toml
  pyproject.toml
Due: configs

Move logic into a helper function (#49)
  pypaperless/__init__.py
  pypaperless/util.py
  tests/api/test_general.py
Due: library, tests

Add more test cases (#49)
  pypaperless/util.py
  tests/api/test_general.py
Due: library, tests

Update documentation (#49)
  docs/SESSION.md
Due: docs

Improve coverage (#49)
  tests/conftest.py
Due: tests

Add devcontainer
  .devcontainer/devcontainer.json
  Dockerfile
  script/bootstrap
  script/setup
Due: none

Add isort
  .devcontainer/devcontainer.json
Due: none

Add controllers for workflows and fix missing endpoints bug (#53)
  pypaperless/__init__.py
  pypaperless/const.py
  pypaperless/controllers/__init__.py
  pypaperless/controllers/default.py
  pypaperless/errors.py
  pypaperless/models/__init__.py
  pypaperless/models/base.py
  pypaperless/models/consumption_templates.py
  pypaperless/models/correspondents.py
  pypaperless/models/custom_fields.py
  pypaperless/models/document_types.py
  pypaperless/models/mail_accounts.py
  pypaperless/models/mails.py
  pypaperless/models/matching.py
  pypaperless/models/share_links.py
  pypaperless/models/shared.py
  pypaperless/models/storage_paths.py
  pypaperless/models/tags.py
  pypaperless/models/tasks.py
  pypaperless/models/workflows.py
  pyproject.toml
Due: library, configs

Start implement new test case (#48)
  .gitignore
  pypaperless/__init__.py
  pypaperless/const.py
  tests/__init__.py
  tests/api/__init__.py
  tests/api/test_general.py
  tests/conftest.py
  tests/const.py
  tests/controllers/__init__.py
  tests/controllers/test_consumption_templates.py
  tests/controllers/test_correspondents.py
  tests/controllers/test_custom_fields.py
  tests/controllers/test_document_types.py
  tests/controllers/test_documents.py
  tests/controllers/test_groups.py
  tests/controllers/test_mail_accounts.py
  tests/controllers/test_mail_rules.py
  tests/controllers/test_saved_views.py
  tests/controllers/test_storage_paths.py
  tests/controllers/test_tags.py
  tests/controllers/test_tasks.py
  tests/controllers/test_users.py
  tests/data/__init__.py
  tests/data/v0_0_0/__init__.py
  tests/data/v1_8_0/__init__.py
  tests/fixtures/data.json
  tests/functions/__init__.py
  tests/functions/test_crud_default.py
  tests/functions/test_crud_documents.py
  tests/functions/test_list.py
  tests/test_paperless_0_0_0.py
Due: library, configs, tests

Rename workflow controllers (#51)
  pypaperless/__init__.py
  pypaperless/controllers/__init__.py
  pypaperless/controllers/default.py
Due: library

Implement more basic tests (#48)
  tests/__init__.py
  tests/conftest.py
  tests/test_paperless_0_0_0.py
Due: tests

Add correspondents.list tests
  tests/__init__.py
  tests/data/v0_0_0/__init__.py
  tests/data/v1_8_0/__init__.py
  tests/test_paperless_0_0_0.py
Due: tests

Create fake api with FastAPI
  pyproject.toml
  tests/__init__.py
  tests/const.py
  tests/data/v0_0_0/__init__.py
  tests/data/v1_8_0/__init__.py
  tests/util/__init__.py
  tests/util/router.py
Due: configs, tests

Add more tests
  tests/test_paperless_0_0_0.py
Due: tests

Add tests for document_types
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/util/router.py
Due: tests

Update devcontainer
  .devcontainer/devcontainer.json
  Dockerfile
  script/bootstrap
Due: none

Add tests for storage_path
  tests/data/v1_8_0/__init__.py
  tests/test_paperless_1_8_0.py
  tests/util/router.py
Due: tests

Rename features and add notes
  pypaperless/const.py
Due: library

Move form serialization to Paperless object
  pypaperless/__init__.py
  pypaperless/controllers/documents.py
Due: library

Fix pop on empty lists
  pypaperless/controllers/tasks.py
Due: library

Add more tests
  tests/__init__.py
  tests/data/v0_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_8_0.py
  tests/util/router.py
Due: tests

Add tests for version 1.17.0 (document notes)
  tests/conftest.py
  tests/data/v1_17_0/__init__.py
  tests/test_paperless_1_17_0.py
  tests/util/router.py
Due: tests

Add tests for consumption tpl and custom fields (only read)
  tests/data/v2_0_0/__init__.py
  tests/test_paperless_0_0_0.py
  tests/test_paperless_1_17_0.py
  tests/test_paperless_2_0_0.py
  tests/util/router.py
Due: tests

Add custom field tests (write)
  tests/test_paperless_2_0_0.py
Due: tests

Path conditions:
  library: any of: pypaperless/
  configs: any of: .git*, *.toml, *.yml
  docs: any of: docs/, *.md
  tests: any of: tests/
